/*我的简历开始*/
.core_resume{
    width: 885px;
    background: #fff;
    position: relative;
    padding-bottom: 58px;
    box-shadow:0 5px 10px #ccc;
    margin-bottom: 40px;

}
.core_resume .resume_text{
    padding-top:35px;
    padding-left: 37px;
}
.core_resume .resume_text_1{
    padding-top: 20px;
}
.core_resume p{
    font-size: 14px;
    width:812px;
    line-height: 1.8em;
}
.core_resume .core_img{
    position: absolute;
    top: 22px;
    right: 35px;
}

.core_chat >h3{
    text-align:center;
    font-size:18px;
    color:#000;
    padding-top:34px;
}
.core_chat .butBox{
    margin-top:24px;
    text-align:center;
}
.core_chat .butBox >a{
    display:inline-block;
    height:80px;
    width:166px;
    color:#fff;
    margin-left:100px;
    font-size:18px;
    line-height:80px;
    overflow:hidden;
    border-radius:2px;
}
.core_chat .butBox >a >i{
    margin-right:3px;
}
.core_chat .butBox >a:nth-child(1){
    background-color: #84ccc9;
    margin-left:0;
}
.core_chat .butBox >a:nth-child(2){
     background-color: #f6b37f;
}
.core_chat .butBox >a:nth-child(3){
     background-color: #b3d465;
}
.core_chat .myResume{
    margin-top:30px;
    overflow: hidden;
}
.core_chat .myResume .headerBox{
    width:152px;
    height: 200px;
    overflow:hidden;
    margin-right:15px;
}
.core_chat .myResume .headerBox >img{
    width:100%;
}
.core_chat .myResume >.content{
    width:663px;
}
.core_chat .myResume >.content li{
    font-size:14px;
    color:#000;
    border:none;
    line-height:28px;
    padding:0;
}
.core_chat .myResume >.content li.backmag label {
    float: left;
}
.core_chat .myResume >.content li.backmag textarea{
	width: 300px;
    height: 150px;
    float: left;
    resize: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    padding-left: 10px;
    border: 1px solid #555;
}
.core_chat .myResume >.content li.backmag{
	overflow: hidden;
}
.core_chat{
	margin-bottom: 40px;
}
.core_chat .myResume >.content .btn{
	display: block;
    cursor: pointer;
    margin-left: 148px;
    width: 80px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    background-color: #7ecef4;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
}
/*我的简历结束*/