body {margin: 0 auto;font-family: "微软雅黑";background: #f3f1ee;max-width: 100%;min-width: 1200px;overflow: hidden;}
.wrap {width: 100%;padding-bottom: 200px;}

.menu p a{line-height: 30px;}
.menu img {width: 100%;height: 100%;}
.menu p {width:100px;height: 30px;line-height: 30px;position: absolute;left: 120px;top: 35px;text-align: center;}
.menu p a {color: white;font-size: 23px;}
.menu dl dd,
dt {height: 85px;line-height: 85px;text-align: center;float: left;}
.menu {
	width: 100%;
	height:85px;
	background-color: #7ecef4;
	position: absolute;top: 0px;left: 0px;float: left;

}
.wrap .menu dl .basic {background-color: #f3f1ee;}
.wrap .menu dl .basic a {color: #fb5b3c;}
.menu dl dd a {display: inline-block;width: 200px;height: 30px;line-height:30px;margin-top:35px;font-size: 18px;color: #FFFFFF;}
.menu dl dd:hover{background-color: rgba(0, 183, 238, 0.4);;}
.menu .nav dd{width: 200px;height: 85px;}
.wrap .exit {width: 100px;height: 30px;line-height: 30px;text-align: center;bottom: 20px;float: right;margin-top: 32px;;}
.wrap .exit a {color: #fff;font-size: 18px;display: block;background: url(../img/sxit_bt.png) no-repeat 70px;}


.basic a{width: 200px;}
.nav{position: absolute;top: 0px;left: 280px;}
.nav dd a i{padding-right: 5px;}




