﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>后台-登陆</title>
    <link rel="stylesheet" type="text/css" href="ccss/css.css">
    <link rel="stylesheet" type="text/css" href="ccss/login.css">
</head>

<body>
<!--背景图-->
<div class="login_bg">
    <img src="cimg/login_bg_3.png" alt="">
</div>
<!--背景图结束-->
<!--登陆窗口-->
<div class="login">
    <h2>登录</h2>
    <form id="login_form" method="post" th:action="@{/userLogin}">
        <input type="text" th:name="name" placeholder="登录名" value="">
        <input type="password" th:name="password" placeholder="密码" value="" class="pws">
        <!--<input type="hidden" id = "testcheck" value="">-->
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <!--<div class="input_list">-->
            <!--<ul name = user_type id="test">-->
                <!--<li class="active">类型 <img src="cimg/login_4.png" alt=""></li>-->
                <!--<li>系统管理员</li>-->
                <!--<li>教务</li>-->
                <!--<li>就业专员</li>-->
                <!--<li>就业主管</li>-->
                <!--<li>企业HR</li>-->
            <!--</ul>-->
        <!--</div>-->
        <button type="button" onclick="logincheck()" >登录</button>
    </form>

</div>
</div>
<!--登陆窗口结束-->
<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<script src="js/login.js" type="text/javascript"></script>
</body>

</html>
