<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>招聘岗位管理</title>
    <link type="text/css" rel="stylesheet" href="fontsawesome/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="css/paging.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <style type="text/css">
    body {
        background: #fff;
        overflow-y: scroll;
    }
    </style>
</head>

<body>
    <!--企业管理首页-->
    <div class="recruitListbox w1200" >
        <div class="menushow">
            <span>当前页面：</span>
            <a href="" title="">用户列表</a>
        </div>
        <form th:action="@{/queryUserByName}" mothed="post">
        <div class="searchbox">
            <label>用户名</label>

                <input type="text"  id="name" name="name" value="">
                <input type="button" name="" value="搜索" onclick="this.form.submit()">

        </div>
        </form>
        <p class="addBox"><a th:href="@{/getAddUserHtml}" >新增用户</a></p>
        <div class="tableBox">
            <table cellspacing="0">
                <thead>
                    <tr>
											<th>用户名</th>
											<th>登录名</th>
											<th>密码</th>
											<th>用户类型</th>
                        <th colspan="2">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${userList}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.loginName}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${user.roleName}"></td>
                        <td colgroup="2">
                            <a href="#" title="" th:onclick="toUpdateUser([[${user.id}]])">编辑</a>
                            <a href="#" title="" th:onclick="deleteUser([[${user.id}]])">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="paging">
        <div class="first disable">首页</div>
        <div class="prev disable">上一页</div>
        <ul class="list">
            <li index="#1" class="cur">1</li>
            <li index="#2" class="">2</li>
            <li index="#3" class="">3</li>
            <li index="#4" class="">4</li>
            <li index="#5" class="">5</li></ul>
        <div class="go">
          <input type="text" placeholder="Goto">
          <button>跳转</button>
        </div>
        <div class="next">下一页</div>
        <div class="last">尾页</div>
    </div>
    <!--javascript include-->
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/tipSuppliers.js"></script>
    <script type="application/javascript">
        function toUpdateUser(id){
            location.href="toUpdateUser?id="+id;
        }

        function deleteUser(id){
            location.href="deleteUser?id="+id;
        }
    </script>
</body>

</html>
