body{margin: 0 auto;font-family: "微软雅黑";}
.wrap{width: 700px;height: 728px;position: relative;margin-left: 24%;margin-top: 70px;}
.wrap .jbul{width: 100%;}
.wrap .jbul li{width: 100%;height: 42px;margin-bottom: 22px;}
.wrap .jbul .gsjj{width: 100%;height: 200px;}
.wrap .jbul .gsjj textarea{resize: none;width: 600px;height: 266px;margin-bottom: 22px;padding-left: 12px;border:1px solid #464646 ;background-color: #F4F1EC;}
.wrap .jbul li dl{width: 100%;height: 40px;}
.wrap .jbul li dl dd{float: left;}
.wrap .jbul li dl .apellation,.circle{width: 70px;height: 100%;line-height: 40px;text-align: right;margin-right: 10px;color: #595959;font-size: 16px;}
.wrap .jbul li dl dd input{height: 40px;width: 370px;padding-left: 12px;border: 1px solid #464646;font:400 16px "微软雅黑";background-color: #F4F1EC;}
.wrap .jbul li dl .yanz{width: 236px;height: 100%;line-height: 40px;}
.wrap .jbul li dl .yanz img{margin-left: 6px;}
.wrap .jbul .btn {cursor: pointer;width: 88px;height: 40px;line-height: 40px;text-align: center;background: #eb6877;margin-left: 288px;margin-top: 20px;}
.wrap .jbul .btn a{display: inline-block;width: 100%;height: 40PX;color: #FFFFFF;font-size: 16px;}
