body{
	margin: 0 auto;
	font-family: "微软雅黑";
	background: #f3f1ee;
}
.wrap{
	width: 800px;
	height: 547px;
	position: relative;
	margin-left:24%;
	margin-top: 70px;
}
.wrap .xdx_ad{
	width: 280px;
	height: 18px;
	line-height: 18px;
	margin-bottom: 100px;
}
.wrap .xdx_ad a{
	font-size: 18px;
}
.wrap .xdx_ad .xgdl{
	color: #eb6877;
}
.wrap  h4{
	color: #464646;
	font-size: 18px;
	font-weight: normal;
	margin-left: 240px;
	margin-bottom: 46px;
}
.wrap ul{
	width: 100%;
}
.wrap ul li{
	width: 100%;
	height: 42px;
	margin-bottom: 22px;
}
.wrap ul li dl{
	width: 100%;
	height: 40px;
}
.wrap ul li dl dd{
	float: left;
}
/*验证*/
.wrap ul li dl  .yanz{
	width: 230px;
	height: 100%;
	line-height: 40px;
	padding-left: 12px;
	font-size: 16px;
	color: red;
}
.wrap ul li dl .apellation{
	width: 90px;
	height: 100%;
	line-height: 40px;
	text-align: right;
	margin-right: 10px;
	color: #595959;
	font-size: 16px;
}

.wrap ul li dl dd input,.wrap ul li dl dd select{
	height: 40px;
	width: 370px;
	padding-left: 12px;
	border: 1px solid #464646;
	font:400 16px "微软雅黑";
	background: #f3f1ee;
}

.wrap ul li dl dd select{
	width: 384px;
	height: 40px;
	border: 1px solid #464646;
	background: #f3f1ee;
	color: #464646;
	font-size: 16px;
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background:url(../img/login_4.png)no-repeat 360px ;
}
.wrap ul li dl dd select option{
	color: #464646;
	font-size: 16px;
}
.wrap  .newu{
    cursor: pointer;
	width: 88px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #eb6877;
	position: absolute;
	left: 162px;
}
.wrap .abolish{
	 cursor: pointer;
	width: 88px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #bfbfbf;
	position: absolute;
	left: 296px;
}
.wrap  .btn a{
	color: #FFFFFF;
	font-size: 16px;
}





