body{margin: 0 auto;font-family: "微软雅黑";}
.wrap{width: 1014px;height: 1030px;position: relative;margin-left: 24%;margin-top: 70px;}
.wrap ul{width: 100%;height: 100%;}
.wrap ul li{width: 100%;height: 42px;margin-bottom: 22px;}
.wrap ul .dhwb{width: 100%;height: 222px;}
.wrap ul li .gsjj{width: 100%;height: 222px;}
.wrap ul .gsjj textarea{resize: none;width: 534px;height: 222px;border: 1px solid #464646;background-color: #F4F1EC;padding-left: 12px;}
.wrap ul li dl dd{float: left;}
.wrap ul li dl .yanz{width: 230px;height: 100%;line-height: 40px;padding-left: 6px;}
.wrap ul li dl .apellation{width: 112px;height: 100%;line-height: 42px;text-align: right;margin-right: 10px;color: #595959;font-size: 16px;}
.wrap ul li dl dd input{width: 370px;height: 42px;width: 356px;padding-left: 12px;border: 1px solid #464646;font:400 16px "微软雅黑";background-color: #F4F1EC;}
.wrap ul li dl dd select{-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;background:url(../img/login_4.png)no-repeat 340px ;height: 42px;width: 370px;padding-left: 12px;padding-right: 30px;border: 1px solid #464646;font:400 16px "微软雅黑";background-color: #F4F1EC;}
/*福利*/
.wrap ul li .fuli{width: 1014px;height: 82px;}
.wrap ul li .fuli .ckcbox{width: 869px;height: 82px;font-size: 16px;}
.wrap ul li  .fuli .ckcbox .ckc{width: 14px;height: 14px;margin-right: 6px;margin-left: 4px;}
.wrap ul li .ckcbox .daixin{margin-right: 154px !important;}
.wrap ul li .fuli .ckcbox span{margin-right: 14px;color: #464646;}
.wrap ul li .fuli .ckcbox .marb{width: 100%;height: 18px;line-height: 18px;margin-bottom: 20px;}
.wrap ul li dl .yanz img{width: 8px;height: 8px;margin-left: 6px;}
.wrap ul .btn {cursor: pointer;width: 88px;height: 40px;line-height: 40px;text-align: center;background: #eb6877;margin-left: 288px;}
.wrap ul .btn a{color: white;font-size: 16px;}
/*  .wrap ul li { 
	width: 230px;
	height: 100%;
	line-height: 40px;
} */
