body{
	margin: 0 auto;
	font-family: "微软雅黑";
	background: #f3f1ee;
}
.wrap{
	width: 880px;
	height: 590px;
	position: relative;
	margin-left:24%;
	margin-top: 70px;
}
.wrap .xdx_ad{
	width: 100%
	height: 18px;
	line-height: 18px;
	margin-bottom: 100px;
}
.wrap .xdx_ad a{
	font-size: 18px;
}
.wrap .xdx_ad .xgdl{
	color: #eb6877;
}
.wrap .xdx_ad .xglogg{
	float: right;
	color: #eb6877;
}
.wrap h4{
	font-size: 18px;
	color: #595959;
	font-weight: normal;
	padding-left: 236px;
	margin-bottom: 44px;
}
.wrap ul{
	width: 880px;
	height: 378px;
}
.wrap ul li{
	width: 100%;
	height: 42px;
	margin-bottom: 22px;
}

.wrap ul li dl{
	width: 100%;
	height: 40px;
}
.wrap ul li dl dd{
	float: left;
}

.wrap ul li dl .apellation{
	width: 90px;
	height: 100%;
	line-height: 40px;
	text-align: right;
	margin-right: 10px;
	color: #595959;
	font-size: 16px;
}
.wrap ul li dl dd input{
	height: 40px;
	width: 370px;
	padding-left: 12px;
	border: 1px solid #464646;
	font:400 16px "微软雅黑";
	background: #f3f1ee;
}
.wrap ul li dl .dem{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
    margin-left: 12px;
    margin-top: 6px;
	background-color: #eb6877;
}
.wrap ul li dl .dem a{
	color: #FFFFFF;
	font-size: 16px;
}
.wrap .tabbox table{
	margin-top: 50px;
	width: 100%;
	height: 262px;
	border-color:#464646 ;
	text-align: center;
	font-size: 16px;
	color: #595959;
}
.wrap .tabbox  tr th,td{
	height: 48px;
}




