body{
	font-family:"微软雅黑" ;
}
.wrap{
	margin-left: 24%;
	margin-top: 70px;
}
.wrap table tr{
	width: 1140px;
	height: 50px;
	text-align: center;;
    font-size: 16px;
    color: #464646;
}
.wrap table{
	border: 1px solid #464646;
}
.wrap table tr th{
	 color: #868686;
	 font-size: 16px;
}


.wrap .btn{
	width: 90px;
	height: 50px;
	line-height: 50px;
	background: #eb6877;
	text-align: center;
	margin: 40px auto;
}

.btn a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #FFFFFF;
	font-size: 16px;
}
