body{
	font-family: "微软雅黑";
	
}
.wrap{width: 1014px;height: 1030px;position: relative;margin-left: 24%;margin-top: 70px;}
.wrap .btn{
	width: 144px;
	height: 42px;
	background: #eb6877;
	line-height: 42px;
	text-align: center;
	margin-top: 70px;
	cursor: pointer;
}
.wrap .btn a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: white;
	font-size: 16px;
}
