body {margin: 0 auto;font-family: "微软雅黑";}
.wrap {width: 1200px;min-width: 1000px;height: 578px;position: relative;margin-left: 260px;margin-top: 70px;z-index: 99;}
.wrap .leftx {width: 600px;height: 578px;float: left;}
.wrap .rightx {width: 600px;height: 578px;float: left;}
.wrap .leftx ul li,
.wrap .rightx ul li {width: 100%;height: 40px;margin-bottom: 20px;}
.wrap .leftx ul li dl .rad {width: 14px;height: 14px;margin-right: 10px;}
.wrap .leftx ul li dl .radtwo {margin-left: 10px;}
.wrap .leftx ul li dl .lizhi,
.zaizhi {display: inline-block;padding-top: 8px;font-size: 16px;color: #595959;}
.wrap ul .gsjj textarea {resize: none;width: 200px;height: 200px;margin-bottom: 20px;padding-left: 12px;border: 1px solid #464646;}
.wrap .rightx ul .zzjn {width: 100%;height: 158px;margin-bottom: 21px;}
.wrap .rightx ul .zzjn dd textarea {resize: none;width: 400px;height: 156px;border: 1px solid #464646;padding-left: 12px;background: #f3f1ee;}
.wrap ul li dl {width: 100%;height: 40px;}
.wrap ul li dl dd {float: left;}
.wrap ul li dl .apellation {width: 76px;height: 40px;line-height: 40px;text-align: right;margin-right: 10px;font-size: 16px;color: #595959;}
.wrap ul li dl dd input {height: 40px;width: 280px;padding-left: 12px;border: 1px solid #464646;font: 400 16px "微软雅黑";background: #f3f1ee;}
.wrap ul li dl dd select {height: 40px;width: 294px;padding-left: 12px;border: 1px solid #464646;font: 400 16px "微软雅黑";background: #f3f1ee;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;background: url(../img/login_4.png)no-repeat 270px;}
.wrap ul li dl .yanz {width: 200px;height: 100%;line-height: 40px;}
.wrap ul li dl .yanz img {margin-left: 6px;}
.wrap .btn {cursor: pointer;width: 88px;height: 40px;line-height: 40px;text-align: center;background: #eb6877;position: absolute;left: 430px;bottom: -132px;}
.wrap .btn a {width: 100%;height: 100%;display: inline-block;color: #FFFFFF;font-size: 16px;}
