body{
	margin: 0 auto;
	font-family: "微软雅黑";
}
.wrap{
	width: 950px;
	height: 590px;
	position: relative;
	margin-left:24%;
	margin-top: 70px;
}
.wrap ul{
	width: 100%;
}
.wrap ul li{
	width: 100%;
	height: 42px;
	margin-bottom: 22px;
}
.wrap ul .gsjj{
	width: 100%;
	height: 200px;
}
.wrap ul .gsjj textarea{
	resize: none;
	width: 600px;
	height: 266px;
	margin-bottom: 22px;
	padding-left: 12px;
	border:1px solid #464646 ;
	background: #F4F1EC;
}
.wrap ul li dl{
	width: 100%;
	height: 40px;
}
.wrap ul li dl dd{
	float: left;
}
.wrap ul li dl .apellation,.circle{
	width: 90px;
	height: 100%;
	line-height: 40px;
	text-align: right;
	margin-right: 10px;
	color: #595959;
	font-size: 16px;
}
.wrap ul li dl dd input{
	height: 40px;
	width: 370px;
	padding-left: 12px;
	border: 1px solid #464646;
	font:400 16px "微软雅黑";
	background: #F4F1EC;
}
.wrap ul li dl .sect select{
	
	width: 384px;
	height: 40px;
	border: 1px solid #464646;
	background: #F4F1EC;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background:url(../img/login_4.png)no-repeat 356px ;
}
.wrap ul li dl .yanz{
	width: 230px;
	height: 100%;
	line-height: 40px;
}
.wrap ul li dl .yanz img{
	margin-left: 6px;
}

.wrap  .btn {
    cursor: pointer;
	width: 88px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #eb6877;
	margin-left: 288px;
}
.wrap  .xyjyb{
	margin-top: 86px;
}
.wrap .resum{
	bottom: 58px ;
}
.wrap .interview{
	bottom: 0px;
}
.wrap  .btn a{
	color: #FFFFFF;
	font-size: 16px;
}

/*弹出框*/
.tjbox{
	width: 337px;
	height: 188px;
	background: url(../img/tjbox.png);
	position: absolute;
	z-index: 10;
	left: 50%;
	top:50%;
	margin-left: -125px;
	margin-top: -39px;
	display: none;
}
.tjbox p{
	width: 100%;
	height: 98px;
	line-height: 115px;
	font-size:16px ;
	color: #464646;
	text-align: center;

}
.tjbox img{

	margin-left: 7PX;
	vertical-align: middle;
	margin-top: 12px;
}
.tjbox .ul{
	width: 100%;
	height: 55px;
}
.tjbox ul li{
	float: left;
	width: 158px;
	height: 55px;
	line-height: 55px;
	cursor: pointer;
	text-align: center;
}
.tjbox ul li:hover a{
	color: #eb6877;
}
.tjbox ul li a{
	color: #595959;
	font-size: 16px;
}
.tjbox ul li a:hover{
	color: #eb6877;
	
}
.tjbox ul  .validate{
	border-right: 1px solid #dcdcdc;
}	

