.core_top{
    box-shadow: 0 5px 10px #ccc;
}
.left{
    float:left;
}
.clear:after {
    content: '';
    display:block;
    height:0;
    visibility: hidden;
    clear: both;
}
/*个人中心*/
.core{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
}
/*我的简历开始*/
.core_resume{
    width: 885px;
    background: #fff;
    position: relative;
    padding-bottom: 58px;
    box-shadow:0 5px 10px #ccc;
    margin-bottom: 40px;

}
.core_resume .resume_text{
    padding-top:35px;
    padding-left: 37px;
}
.core_resume .resume_text_1{
    padding-top: 20px;
}
.core_resume p{
    font-size: 14px;
    width:812px;
    line-height: 1.8em;
}
.core_resume .core_img{
    position: absolute;
    top: 22px;
    right: 35px;
}

.core_chat >h3{
    text-align:center;
    font-size:18px;
    color:#000;
    padding-top:34px;
}
.core_chat .butBox{
    margin-top:24px;
    text-align:center;
}
.core_chat .butBox >a{
    display:inline-block;
    height:80px;
    width:166px;
    color:#fff;
    margin-left:100px;
    font-size:18px;
    line-height:80px;
    overflow:hidden;
    border-radius:2px;
}
.core_chat .butBox >a >i{
    margin-right:3px;
}
.core_chat .butBox >a:nth-child(1){
    background-color: #84ccc9;
    margin-left:0;
}
.core_chat .butBox >a:nth-child(2){
     background-color: #f6b37f;
}
.core_chat .butBox >a:nth-child(3){
     background-color: #b3d465;
}
.core_chat .myResume{
    padding-left:235px;
    margin-top:30px;
}
.core_chat .myResume .headerBox{
    width:152px;
    height: 200px;
    overflow:hidden;
    margin-right:15px;
}
.core_chat .myResume .headerBox >img{
    width:100%;
}
.core_chat .myResume >.content{
    width:663px;
}
.core_chat .myResume >.content li{
    font-size:14px;
    color:#000;
    border:none;
    line-height:28px;
    padding:0;
}
/*我的简历结束*/
/* 编辑简历 */
.core_chat .myResume-edit >.content input[type=submit]{
    width:80px;
    height:30px;
    border:none;
    color:#fff;
    border-radius:2px;
    background:#eb6877;
    display:block;
    margin:20px 190px;
    cursor:pointer;
}
.core_chat .myResume-edit >.content ul{
    margin:0;
    padding:0;
}
.core_chat .myResume-edit >.content li{
    margin-bottom:12px;
}
.core_chat .myResume-edit >.content li:after{
    content:"";
    height:0;
    display:block;
    visibility:hidden;
    clear: both;
}
.core_chat .myResume-edit >.content li label{
    float:left;
    width:75px;
    text-align:right;
    margin-right:5px;
}
.core_chat .myResume-edit >.content li >div.left{
    position:relative;
}
.core_chat .myResume-edit >.content li >div.left >i{
    position:absolute;
    top:9px;
    right:5px;
    color:#828282;
}
.core_chat .myResume-edit >.content li input[type=text],
.core_chat .myResume-edit >.content li select{
    width:270px;
    padding-left:20px;
    height:30px;
    border: solid 1px #697393;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    border:1px solid #064646;
    border-radius:2px;
}
.core_chat .myResume-edit >.content li textarea{
    width:578px;
    height:161px;
    border-radius:2px;
    border:1px solid #064646;
    resize: none;
    padding-left:20px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
}
.core_chat .myResume-edit >.content li select {/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/border:1px solid #064646;/*很关键：将默认的select选择框样式清除*/appearance: none;-moz-appearance: none;-webkit-appearance: none;/*将背景改为红色*/background: #fff;/*加padding防止文字覆盖*/padding-right: 14px;
    width:270px;}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.core_chat .myResume-edit >.content li select::-ms-expand {display: none;}
.core_chat .myResume-edit .inputfilebox{
    font-size:14px;
    width:56px;
    height:28px;
    line-height:28px;
    text-decoration: underline;
    position:absolute;
    margin-top:17px;
    margin-left:45px;
}
.core_chat .myResume-edit .inputfilebox >input[type=file]{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0;
    z-index: 2;
    cursor:pointer;
}
.core_chat .myResume-edit .inputfilebox >span{
    display:block;
    width:100%;
    height:100%;
    text-align:center;
}
/* 公司介绍 */
.core_chat .companyContent  .headerBox{
    width:188px;
    height:auto;
}
.companyContent .iconbox{
    text-align:center;
    margin-top:42px;
}
.companyContent .iconbox >a{
    width:32px;
    height:32px;
    border-radius:50%;
    box-shadow:0 0 5px 5px #f2f2f2;
    display:inline-block;
}
.companyContent .iconbox >a.ditu{
    background: url('../img/ditu.png') no-repeat center center;
    background-size: 50%;
    margin-right:15px;
}
.companyContent .iconbox >a.tianqi{
    background: url('../img/tianqi.png') no-repeat center center;
    background-size: 50%;
}
/* 公司应聘 */
.core .companybox{
    box-shadow:none;
}
.core .companyList{
    margin:45px auto;
    width:990px;
    margin-bottom:0;
}
.core .companyList li{
    float:left;
    position:relative;
    width:290px;
    height:363px;
    border-radius:2px;
    box-shadow:0 0 5px #f2f2f2;
    overflow:hidden;
    margin-right:60px;
    padding:0;
    font-size:14px;
    margin-bottom:40px;
}
.core .companyList li .companyLogo{
    width:290px;
    height:110px;
    text-align:center;
    display:table-cell;
    vertical-align: middle;
    background-color:#eee;
}
.core .companyList li .companyLogo >img{
    width:180px;
    vertical-align: middle;
    float:inherit;
    margin-right:0;
}
.core .companyList li >.content{
    padding:30px 32px 0 45px;
}
.core .companyList li >.content >p{
    line-height:24px;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.core .companyList li .api{
    position:absolute;
    top:102px;
    right:12px;
}
.core .companyList li .api >a{
    width:33px;
    height:33px;
    border-radius:50%;
    overflow:hidden;
    display:inline-block;
    box-shadow:0 0 5px 5px #f2f2f2;
    float: inherit;
    margin-right:0;
}
.core .companyList li .api >a.ditu{
    background: url('../img/ditu.png') no-repeat center center;
    background-size: 50%;
    margin-right:15px;
}
.core .companyList li .api >a.tianqi{
    background: url('../img/tianqi.png') no-repeat center center;
    background-size: 50%;
}
.core .companyList li .moreClick{
    text-align:center;
}
.core .companyList li .moreClick >a{
    display: block;
    color: #e42e2e;
    float: inherit;
    background: #fff;
    width: 100%;
    line-height: 24px;
    font-size: 12px;
}
.core .companyList li:nth-child(3n){
    margin-right:0;
}
.core .companyCollection >li{
    overflow:inherit;
}
.core .companyCollection >li >.delet{
    position: absolute;
    font-size:20px;
    top:366px;
    left:50%;
    margin-left:-10px;
    color:#9a9a9a;
    text-align:center;
    cursor:pointer;
}
.core .paging{
    text-align:center;
}
.core .paging >a{
    width:11px;
    height:11px;
    border-radius:50%;
    background-color:#e5e5e5;
    margin-right:17px;
    display:inline-block;
}
.core .paging >a:last-child{
    margin-right:0;
}
.core .paging >a.action{
    background-color:#bfbfbf;
}
/*投递箱*/
.core_delivery{
    width: 1200px;
    background: #fff;
    position: relative;
    box-shadow:0 5px 10px #ccc;
    margin-bottom: 40px;
    padding-top: 25px;
    overflow: auto;
    height: 845px;
}
.delivery_top{
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 10px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;

}
.delivery_top a{
   padding: 0 10px;

}
.delivery_top .delivery_color{
    color: #eb6877;
}
.delivery_top .delivery_move{
    width: 59px;
    border-bottom: 3px solid #eb6877;
    position: absolute;
    bottom:-1px;
    left:67px;
}
.core_delivery ul{
    margin-left: 25px;
}
.core_delivery li a{
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #dcdcdc;
    color: #464646;
    position: relative;
    padding-top: 20px;
    margin-right: 25px;
}
.core_delivery li a .delivery_all{
    padding-bottom: 10px;
}
.core_delivery li a .delivery_left i{
    font-style: normal;
    color: #fff;
    background: #f39800;
    padding: 3px 5px;
    margin-left:10px;
    border-radius: 3px;
}
.core_delivery li a .delivery_address span{
    margin-left: 30px;
}
.core_delivery li a .delivery_address span img{
    margin-right: 2px;
}
.core_right{
    position: absolute;
    width: 250px;
    bottom: 10px;
    right: 23px;
}
.core_right .core_right_img{
    text-align: right;
}
.core_right span{
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #7c7c7c;
}
.delivery_none{
    width: 175px;
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
}
.delivery_none p{
    color: #a2a2a2;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}
/*投递箱结束*/

/*聊天*/
.core_chat{
    width: 1200px;
    min-height: 845px;
    margin: 0 auto;
    background: #fff;
    box-shadow:0 5px 10px #ccc;
    margin-bottom: 100px;
    position: relative;
}
.chat_top{
    margin: 0;
    padding-top: 24px;
    margin-left: 25px;
    margin-right: 25px;
}
.chat_move{
    width: 59px;
    border-bottom: 3px solid #eb6877;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.core_chat ul{
    margin-left: 25px;
    padding-bottom: 70px;
    margin-right: 25px;
}
.core_chat li{
    padding: 28px 0 13px 0;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}
.core_chat li img{
    float: left;
    margin-right: 15px;
}
.core_chat li .chat_introduce{
    margin-top: 5px;
    float: left;
}
.core_chat li .chat_introduce span{
    font-size: 16px;
}
.core_chat li .chat_introduce .chat_introduce_none{
    color: #464646;
    margin-right: 25px;

}
.core_chat li .chat_introduce p{
    display: block;
    font-size: 14px;
    margin-top:10px;
}
.core_chat li .chat_introduce i{
    font-style: normal;
    color: #fff;
    background: #f39800;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 16px;
}
.core_chat li a{
    float: right;
    border: none;
    font-size: 14px;
    width: 63px;
    height: 32px;
    margin-right: 35px;
    margin-top: 10px;
    color: #fff;
    background: #eb6877;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
}
/*聊天结束*/

/*聊天界面*/
.interface_top{
    width: 490px;
    background: #eee;
    margin: 0 auto;
    margin-top: 24px;
    overflow: hidden;
}
.interface_top dl{
    padding-top: 17px;
    padding-left: 14px;
    float: left;
}
.interface_top dd{
    font-size: 12px;
    margin-bottom: 10px;
}
.interface_top .interface_color{
    color: #fb8b40;
}
.interface_right{
    float: right;
    margin-right: 15px;
    text-align: right;
    padding-top: 17px;
}
.interface_right span{
    font-size: 12px;
    color: #3a3a3a;
    display: block;
    margin-bottom: 35px;
}
.interface_right p{
    font-size: 12px;

}
.inter {
    width: 1140px;
    margin: 0 auto;
    margin-top: 60px;
    overflow: auto;
    height: 520px;
}
.inter dl{
    overflow: hidden;
}
.inter dt{
    float: left;
}
.inter dd{
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    background: #eeeeee;
    padding: 15px 20px 12px 10px;
    font-size: 14px;
    color: #464646;
    border-radius: 3px;
}
.inter ul{
    float: right;
    margin: 0;
    padding-bottom: 20px;
}
.inter li {
    border: none;
}
.inter li .inter_img{
    float: right;
}
.inter li p{
    display: block;
    float: right;
    margin-top: 7px;
    margin-right: 15px;
    background: #eeeeee;
    padding: 13px 10px 13px 10px;
    font-size: 14px;
    color: #464646;
    border-radius: 3px;
}
.inter .inter_input{
    position: absolute;
    bottom: 0;
    background: #eeeeee;
    width: 1140px;
    height: 43px;
    border-radius: 3px 3px 0 0;

}
.inter_input input{
    width: 965px;
    height: 30px;
    border: none;
    float: left;
    margin-top: 6px;
    margin-left: 8px;
    border-radius: 3px;
    font-size: 16px;
    padding-left:10px;
}
.inter_input .inter_input_right{
    margin-left: 10px;
    float: left;
}
.inter_input_right img{
    margin-top: 12px;
    margin-right: 10px;
}
.inter_input .send{
    display: block;
    width: 65px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
    background: #eb6877;
    border-radius: 3px;
    color: #fff;
}
/*聊天界面结束*/
