
body{
    font-family: "微软雅黑";
    background: #f5f5f8;
    font-size: 18px;
}
/*top*/
.details_top{
    background: #fff;
}
.top{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
}
.top_left a{
    font-size: 18px;
    color: #464646;
    display: block;
    margin-right: 38px;
    float: left;
}
.more_color{
    color: #eb6877 !important;
}
.top_left{
    float: left;
}
.top ul{

    /* overflow: hidden; */

   /*  overflow: hidden; */

    float: right;
}
.top li {
    float: left;
    margin-right: 15px;
}
.top li a{
    color: #464646;
    font-size: 18px;
}
.top li a .top_img{
    float: left;
    margin-top: 33px;
    margin-right:5px;
}
.top .top_rx img{
    margin-top: 24px;
}
/*top结束*/

/*招聘*/
.banner {
    max-width:100%;
    min-width: 1200px;
    height: 335px;
    background: url(../img/details_banner.png) no-repeat;
    background-size: 100% 100%;
}
.banner_recruit{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    height: 335px;
}
.recruit_left{
    width:600px;
    float: left;
}
.recruit_left .recruit_time{
    padding-top: 25px;
    font-size: 16px;
}
.recruit_left h2{
    font-size: 32px;
    font-weight: 400;
    margin-top: 35px;
}
.recruit_left h2 b{
    font-weight: 400;
    font-size: 24px;
    padding:2px 5px;
    margin-left: 10px;
    background: #f39800;
    border-radius: 3px;
}
.recruit_ment span{
    font-size: 20px;
    color: #fefefe;
    display: block;
    float: left;
    padding-right: 15px;
}
.recruit_left .recruit_ment{
     margin-top: 25px;
     width: 100%;
     overflow: hidden;
}
.recruit_treat{
    margin-top: 15px;
    overflow: hidden;
}
.recruit_treat i{
    font-size: 18px;
    font-style: normal;
    margin-right: 5px;
    float: left;
    text-align: center;
    border-radius: 3px;
    padding: 2px 10px;
    margin-top: 10px;
    background: #eb6877;
}
.recuit_right{
    float: right;
    width: 600px;
    margin-top: 130px;
}
.right_company{
    width:100%;
    text-align: right;
    font-size: 24px;
}
.right_internet{
    width:100%;
    text-align: right;
    font-size: 24px;
    margin-top: 15px;
}
/*招聘结束*/

/*个人介绍*/
.details_personal{
    background: #f5f5f8;
}
.personal{
    width: 1200px;
    margin:0 auto;
    padding-bottom: 100px;
}
/*个人介绍左边*/
.personal_left{
    width: 757px;
    float: left;
    padding-left: 7px;
    margin-bottom: 100px;
}
.personal_left_top{
    padding-top: 37px;
    overflow: hidden;
    margin-bottom: 40px;
}
.personal_left_top a{
    display: block;
    float: left;
    margin-right: 20px;
}
.personal_left_top span{
    width: 300px;
    font-size: 18px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #464646;
}
.personal_left_top b{
    font-size: 18px;
    font-weight: 400;
    color: #464646;
}
.personal_left_top button{
    float: right;
    margin-top: -30px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    color: #fff;
    background: #eb6877;
    font-family: "微软雅黑";
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.personal_left_position {
    background: #fff;
    font-size: 18px;
    color: #464646;
    padding-bottom: 215px;
    box-shadow:0px 0px 10px #ccc;
}
.personal_left_position .describe{
    padding-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}
.personal_left_position .describe_1{
    margin-bottom: 15px;
}
.personal_left_position dl{
    margin:0;
    margin-bottom: 35px;

}
.personal_left_position dt{
    margin-left: 45px;
    margin-bottom: 35px;
    padding-bottom: 7px;
    background: url(../img/details_border.png) no-repeat bottom left;
}
.personal_left_position dd{
    margin-bottom: 10px;
    margin-left: 40px;
}
.personal_left_position .ment{
    margin-left: 45px;
    float: left;
}
.personal_left_position .ment_1{
    margin-left: 25px;
}
.describe_ment{
    overflow: hidden;
    margin-bottom:55px;
}
.personal_left_position .ment span{
    display:block;
    margin-bottom: 10px;
}
.personal_left_position p{
    text-indent: 2em;
    width: 707px;
    line-height: 1.8em;
    margin: 0 auto;
}
/*个人介绍右边*/
.personal_right{
    float: right;
    width: 412px;
    margin-right:7px;
    margin-top: 35px;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding-bottom:10px;
}
.personal_right li{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
    padding-top:17px;
    margin-left: 20px;
    font-size: 20px;
}
.personal_right li .rihgt_top{
    margin-bottom:15px;
    font-weight: 600;

}
.personal_right li .rihgt_top a{
    color: #464646;
}
.personal_right li .rihgt_top i{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ff0101;
}
.personal_right li .right_bottom{
    color: #464646;
}
.personal_right .right_inter{
    padding-top:25px;
    font-size: 18px;
    padding-bottom: 20px;
}
.personal_right .right_inter a{
    color: #6a6969;
    float: right;
    margin-right:15px;
    font-size: 18px;
}
/*个人介绍结束*/
/* 投递简历确认弹框 */
.isfixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.isfixed >.bg{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
}
.isfixed >.content-box{
    min-width: 200px;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}
/* 成功弹框 */
.success >.content-box{
    width: 200px;
    height: 50px;
    color:  #eb6877;
    background: #fff;
    border-radius: 5px;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 0;
}
.success >.content-box >h1{
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}
/* 投递简历确认弹框end */