.interview h2{display: block;margin-top: 37px;margin-left: 50px;font-size: 18px;}
.interview h2 i{font-style: normal;color: #eb6877;}
.interview_graphical{margin-top: 74px;text-align: center;}
.interview_bottom{width: 995px;margin: 0 auto;margin-top: 75px;}
.interview_left{float: left;}
.interview_left span{font-size: 18px;margin-right: 55px;}