body{ overflow: hidden;}
/*iframe左边*/
.director_left{ width: 17%; min-width: 275px; float: left; border-right: 11px solid #f1efec;}
.director_left .menu{ position: relative;}
.director_left .menu img{ width: 100%;}
.director_left .menu dl{ position: absolute; top: 0; margin: 0 auto; margin-top: 256px; text-align: center; width: 100%;}
.director_left .menu dt{ color: #fff; font-size: 24px; margin-bottom: 79px;}
.director_left .menu dd a{ display: block; font-size: 18px; color: #fff; padding: 22px 0;}
.director_left .menu dd .menu_hover{ color: #fb5b3c; background: #fff;}
/*iframe右边*/
.director_right{ width: 79%; min-width: 830px; float: left;}
.director_right iframe{ width: 100%; height:1200px;}