.director-login h2{display: block;margin-top: 37px;margin-left: 50px;font-size: 18px;}
.director-login h2 i{font-style: normal;color: #eb6877;}
.director-login form{margin-top:200px;margin-left: 250px;width: 455px;}
.director-login form span{display: block;color: #464646;font-size: 18px;margin-bottom: 47px;text-align: center;}
.director-login form .login_txt{font-size: 18px;line-height: 40px;overflow: hidden;margin-bottom: 30px;color: #464646;}
.director-login form .login_txt input{width: 360px;height: 40px;padding-left: 10px;float: right;font-size: 18px;border: 1px solid #464646;border-radius: 3px;}
.director-login form .login_type {margin-left: 16px;}
.director-login form .login_type span{margin-bottom: 0;display: inline;margin-right: 35px;}
.director-login form a{width: 90px;height: 40px;font-size: 18px;margin: 0 auto;margin-top: 55px;display: block;color: #fff;background: #eb6877;text-align: center;line-height: 40px;border-radius: 3px;}