body{ overflow: hidden;}
/*iframe左边*/
.director_left{ width: 17%; min-width: 275px; float: left; border-right: 11px solid #f1efec;}
.director_left .menu{ position: relative;}
.director_left .menu img{ width: 100%;}
.director_left .menu dl{ position: absolute; top: 0; margin: 0 auto; margin-top: 150px; text-align: center; width: 100%;}
.director_left .menu dt{ color: #fff; font-size: 24px; margin-bottom: 79px;}
.director_left .menu dd a{ display: block; font-size: 18px; color: #fff; padding: 22px 0;}
.director_left .menu dd .menu_hover{ color: #fb5b3c; background: #fff;}
/*iframe右边*/
.director_right{ width: 79%; min-width: 830px; float: left;}
.director_right iframe{ width: 100%; height:1200px;}
/* 登录界面 */
.login_bg{width: 100%;min-width: 1400px;height: 100%;}
.login_bg img{width: 100%;}
/*login*/
.login{width: 388px;height: 400px;position: absolute;background: #fff;top: 50%;left: 50%;margin-left: -164px;margin-top: -200px;border-radius: 3px;overflow: hidden;}
.login h2{margin-top: 40px;text-align: center;font-size: 20px;margin-bottom: 20px;font-weight: 800;}
.login form{width: 280px;margin: 0 auto;text-align: center;position: relative;}
.login form input{width:240px;height: 30px;font-size: 15px;line-height: 30px;background: url(../img/login_1.png) no-repeat  10px 6px #eeeeee;border: none;padding-left: 40px;margin-bottom: 24px;border-radius: 3px;}
.login form .pws{background: url(../img/login_2.png) no-repeat  10px 6px #eeeeee;}
.login form .input_list{position: relative;width: 280px;height: 30px;}
.login ul{background: #eee;font-size: 15px;border-radius: 3px;position: absolute;width: 100%;}
.login form ul li{color:#666;line-height: 30px;display:none;text-align: left;height: 30px;padding-left: 40px;}
.login form li.active{display:block;background:url(../img/login_3.png) no-repeat  10px 6px;border-radius: 5px 5px 0 0 ;cursor: pointer;}
.login form li.active img{float: right;margin-top: 15px;margin-right: 18px;}
.login form li:not(.active):hover{background:#E74F4D;color:white;cursor: pointer;}
.login form button{width: 125px;height: 42px;font-size: 24px;color: #fff;background: #7ecef4;border: none;border-radius: 3px;cursor: pointer;margin-top: 20px;}
.login .login_more{width: 290px;margin: 0 auto;margin-top: 20px;text-align: center;}
.login .login_more a{display: block;color: #13b5b1;;border:1px solid #13b5b1;padding: 8px 12px;float: left;font-size: 24px;margin-right: 38px;border-radius: 3px;}
.login .login_more .more_red{margin-right: 0;color: #eb6877;;border:1px solid #eb6877;}
/*login结束*/
/* 面试界面 */
.interview h2{display: block;margin-top: 37px;margin-left: 50px;font-size: 18px;}
.interview h2 i{font-style: normal;color: #eb6877;}
.interview_graphical{text-align: center;}
.interview_bottom{width: 995px;margin: 0 auto;margin-top:30px;height: 50px;}
.interview_left{float: left;}
.interview_left span{font-size: 18px;margin-right: 55px;}
/* 面试界面结束 */
/* 就业界面 */
body{background: #f3f1ee;}
.botain h2{display: block;margin-top: 37px;margin-left: 50px;font-size: 18px;}
.botain h2 i{font-style: normal;color: #eb6877;}
/* 就业界面结束 */
/* 登录修改 */
.director-login h2{display: block;margin-top: 37px;margin-left: 50px;font-size: 18px;}
.director-login h2 i{font-style: normal;color: #eb6877;}
.director-login form{margin-left: 250px;width: 455px;}
.director-login form span{display: block;color: #464646;font-size: 18px;margin-bottom: 47px;text-align: center;}
.director-login form .login_txt{font-size: 18px;line-height: 40px;overflow: hidden;margin-bottom: 30px;color: #464646;}
.director-login form .login_txt input{width: 360px;height: 40px;padding-left: 10px;float: right;font-size: 18px;border: 1px solid #464646;border-radius: 3px;}
.director-login form .login_type {margin-left: 16px;}
.director-login form .login_type span{margin-bottom: 0;display: inline;margin-right: 35px;}
.director-login form a{width: 90px;height: 40px;font-size: 18px;margin: 0 auto;margin-top: 55px;display: block;color: #fff;background: #eb6877;text-align: center;line-height: 40px;border-radius: 3px;}