body {margin: 0 auto;font-family: "微软雅黑";overflow: hidden;background: #ffffff;}

.wrap {width: 100%;}

.menu {width: 17%;min-width: 210px;height: 100%;border-right: 10px solid #eeecea;position: relative;z-index: 99;}

.menu img {width: 100%;height: 100%;}

.menu p {width: 100%;height: 23px;line-height: 23px;position: absolute;left: 0px;top: 75px;text-align: center;}

.menu p a {color: white;font-size: 23px;}

.menu dl {width: 100%;height: 474px;position: absolute;top: 50%;left: 0px;margin-top: -237px;z-index: 100;}

.menu dl dd,
dt {width: 100%;height: 62px;line-height: 62px;text-align: center;}

.wrap .menu dl .basic {width: 100%;height: 62px;}

.wrap .menu dl .xtgl a {color: white;}

.menu dl dd a {font-size: 18px;}

.menu dl ul {width: 100%;background-color: palegreen;display: none;}

.menu dl ul li {height: 62px;line-height: 62px;text-align: center;background-color: #CCCCCC;color: #737373;font-size: 18px;animation: ulheight 0.3s 1;}

@keyframes ulheight {0% {height: 10px;}100% {height: 62px;}}

.wrap .exit {position: absolute;width: 100%;height: 30px;line-height: 30px;text-align: center;bottom: -20px;}

.wrap .exit a {color: #fff;font-size: 18px;display: block;background: url(../img/sxit_bt.png) no-repeat 70px;}
