body{
	min-width: 1200px;
	overflow: auto;
	font-family: "微软雅黑";
	margin: 0 auto;
	font-size: 14px;
}
.wrap{
	position: relative;
}
/*头部*/

.head{
	width: 1200px;
	height: 84px;
	line-height: 84px;
	margin: 0 auto;
	position: relative;
}

.head a{
	font-size: 22px;
}
.head .qiu{
	margin-left: 40px;
	color: #ec7583;
}

.head a:hover{
	color: #ec7583;
}
.head .dc{
	width: 190px;
	height:100%;
	line-height: 84px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.head .dc a{
	text-align: right;
	margin-left:24px ;
}
/*登录模态框*/
.lzbox{
	width: 100%;
	height: 100%;
	margin-top: 84px;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top:0px;
    left: 0px;
	z-index: 1;
	display: none;
}

.lzbox .logg{
	width: 410px;
	height: 454px;
	position: absolute;
    margin-left: -205px;
	left: 50%;
	top:20%;
	margin-top: -227px;
	background: #FFFFFF;
	border-radius: 10px;
	z-index: 100;
}

.lzbox .logg dl,.zcym{
	margin-top: 30px;
}
.lzbox .logg dl dd,.zcym li{
	width: 340px;
	margin: 0 auto;

}
.lzbox .logg .dlTab{
	width: 340px;
	height:70px ;
	margin: 0 auto;
	border-bottom: 1px solid #c6c7c7;
    position: relative;
}
.lzbox .logg ul{
	width: 100%;
    height: 30px;
    position: absolute;
   left: 0px;
   bottom: 0px;
}

.lzbox .logg ul li{
   float: left;
   width: 42px;
   height: 30px;
   line-height: 30px;
   text-align: center;
  margin-top:-1px ;
}
.lzbox .logg .dlTab p{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0px;
	top: 22px;
	cursor: pointer;
}
.lzbox .logg .dlTab ul li:hover{
   border-bottom: 2px solid #eb6877;
}
.lzbox .logg dl em{
	display: inline-block;
	margin-left: 50px;
	color: #ff0000;
	margin-bottom: 12px;
	margin-top: 6px;
}

.lzbox .logg .dlym .hy input,.zcym .hy input{
	width: 324px;
	height: 36px;
	border: 1px solid #bebebe;
	border-radius: 8px;
	padding-left: 14px;
	font-size: 14px;
	/* color: #cecdcd; */
	color: black;
}

.lzbox .logg .dlym .dengl{
	width:324px;
	height: 50px;
	background:
	line-height: 50px;
	color: #464646;
	font-size: 14px;
}
.lzbox .logg .dlym .ckck{
	margin-top:16px;
	margin-bottom:16px;
}
.lzbox .logg .dlym .ckck input {
	width: 16px;
	height: 17px;
	background: #dcdcdc;
	margin-right: 2px;
}

.lzbox .logg .dlym .ckck a{
	color:#ff2626;
	float: right;
}
.lzbox .logg .zcym .yanz{
	position: relative;
}
.lzbox .logg .zcym .yanz span{
	position: absolute;
	top: 0px;
	left: 144px;
	color: #eb6877;
}
.lzbox .logg .zcym .yanz i{
	position: absolute;
	top: 10px;
	left: 246px;
	cursor: pointer;
}


.lzbox .logg .zcym .yanz input{
	width:136px;
	height: 36px;
	border-radius: 8px;
	border: 1px solid #bebebe;
	padding-left: 14px;
    font-size: 14px;
    color: #cecdcd;
}
.lzbox .logg .zcym .yanz{
	margin-top: 25px;
	cursor: pointer;
}

.lzbox .logg .zcym  .mb{
	margin-bottom: 12px;
}
.lzbox .logg .zcym  .yanz span{
	display: inline-block;
	width: 72px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #e5e5e5;
	margin-left: 20px;

}
.lzbox .logg .dlym .dengl,.zcym .qtdl {
	font-size: 16px;
	color: white;
	height: 38px;
	line-height: 38px;
	background: #eb6877;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
}
.lzbox .logg .dlym .qtdl,.dengl {
	height: 38px;
	text-align: center;
	font-size: 15px;
	color: #fffff;
	margin-top: 30px;
	cursor: pointer;
}
.lzbox .logg .dlym .wqw ol{
	margin-left: 70px;
	margin-bottom: 20px;
}
.lzbox .logg .dlym .wqw ol li{
	float: left;
	margin-right: 36px;
	height: 40px;
}
.lzbox .logg .dlym .erwei{
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/*轮播*/
.banner{
    width: 100%;
	height: 336px;
	position: relative;
	min-width: 1200px;
	overflow: hidden;

}

.banner ol{
	position: absolute;
	left: 0;
}
.banner ol li{
	float: left;
}
.banner ol li img {
	position: relative;
	left: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
/*圆点*/
.banner .yd{
	height: 20px;
	width: 146px;
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -73px;

}
.banner .yd .active{
	background: #eb6877;
}
.banner .yd li{
	float: left;
	width: 10px;
	height: 10px;
	background: white;
	border-radius:50%;
	margin-right:16px ;
	cursor: pointer;
}
/*搜索框*/
.banner .sousuo {
	width:1200px ;
	height: 106px;
	background: url(../img/input_bg.png) repeat-x;
	margin:  0 auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -600px;
	margin-top: -53px;
}
.banner .sousuo dl{
	height: 60px;
	margin-top: 22px;
}
.banner .sousuo dl dd{
	float: left;
}
.banner .sousuo dl .gzdd{
	width: 134px;
	height: 60px;
	background: #FFFFFF;
	margin-left: 16px;
	line-height: 60px;
	font-size: 22px;
	margin-right: 22px;
}
.banner .sousuo dl .gzdd a{
	margin-left: 12px;
}
.banner .sousuo dl .gzdd i{
	display: inline-block;
	width: 14px;
	height: 7px;
	background: url(../img/select_btn.png) no-repeat;
	margin-left: 6px;
	cursor: pointer;
}
.banner .sousuo dl .sstext{
	width: 855px;
	height: 100%;
	background: #FFFFFF;
	margin-right: 16px;
}
.banner .sousuo dl .sstext input{
	width: 843px;
	height: 100%;
	border: none;
	padding-left: 12px;
}
.banner .sousuo dl .ssbtn {
	display: block;
	width: 110px;
	height: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	background: #eb6877;
}
.banner .sousuo dl .ssbtn a{
	color: #FFFFFF;
}
.banner .rmss a:hover{
	color: #eb6877;
}
.rmss{
	width: 326px;
	height: 22px;
	line-height: 22px;
	position: absolute;
	left: 50%;
	bottom: 74px;
	margin-left: -158px;
}
.rmss a{
	font-size: 22px;
	color: #FFFFFF;
}
/*工作地点*/
.slt{
	width: 134px;
	height: 100px;
	background: #FFFFFF;
	margin-left: 16px;
	display: none;
}


.slt .bj{
	 border-top: 1px solid #BEBEBE;
}
.slt li{
	 width: 120px;
	 margin: 0 auto;
	 border-bottom: 1px dashed #BEBEBE;
}
.slt li a{
	padding-left: 14px;
}
.stl ul{
	width: 134px;
	height: 100px;
}
/*主要内容*/
.content{
	width: 1200px;
	height: 765px;
	margin: 0 auto;
}
.content ul li.zpa{
	position: relative;
}
.content ul li.zpa >a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content ul .rmzw{
	height: 80px;
	line-height: 80px;
	color: #686868;
	font-size: 22px;
}
.content ul .rmzw .rz{
	margin-left: 4px;
}
.content ul .rmzw span{
	margin-right: 28px;
	margin-left: 24px;


}

.content ul .zpgg{
	height: 134px;
	background: #eeeeee;
	position: relative;
}
.content ul .zpa{

	margin-bottom: 5px;
}
.content ul .zpb{
	margin-bottom: 3px;
}
.content ul .zpc{
	margin-bottom: 5px;
}
.content ul .zpd{
	margin-bottom: 3px;
}

.content ul .zpgg .zjgcs{
	width: 1156px;
	height: 18px;
	position: absolute;
	top: 28px;
	left: 22px;
	cursor: pointer;
}
.content ul .zpgg dl .zjgcs a{
	float:right ;
	color: #767676;
	font-size: 15px;
}

.content ul .zpgg dl .zgkk {
    width: 1156px;
	height: 15px;
	position: absolute;
	top: 62px;
	left: 22px;
	color: #fb8b40;
	font-size: 15px;
}
.content ul .zpgg dl .bdz {
    width: 1156px;
	height: 15px;
	position: absolute;
	bottom: 16px;
	left: 22px;
	font-size: 15px;
	color: #000000;

}
.content ul .zpgg dl .bdz span{
	float: right;
}
