body{overflow: hidden;}

.login_bg{width: 100%;min-width: 1400px;height: 100%;}
.login_bg img{width: 100%;}
/*login*/
.login{width: 388px;height: 400px;position: absolute;background: #fff;top: 50%;left: 50%;margin-left: -164px;margin-top: -200px;border-radius: 3px;overflow: hidden;}
.login h2{margin-top: 40px;text-align: center;font-size: 20px;margin-bottom: 20px;font-weight: 800;}
.login form{width: 280px;margin: 0 auto;text-align: center;position: relative;}
.login form input{width:240px;height: 30px;font-size: 15px;line-height: 30px;background: url(../img/login_1.png) no-repeat  10px 6px #eeeeee;border: none;padding-left: 40px;margin-bottom: 24px;border-radius: 3px;}
.login form .pws{background: url(../img/login_2.png) no-repeat  10px 6px #eeeeee;}
.login form .input_list{position: relative;width: 280px;height: 30px;}
.login ul{background: #eee;font-size: 15px;border-radius: 3px;position: absolute;width: 100%;}

.login form ul li{color:#666;line-height: 30px;display:none;text-align: left;height: 30px;padding-left: 40px;}
.login form li.active{display:block;background:url(../img/login_3.png) no-repeat  10px 6px;border-radius: 5px 5px 0 0 ;cursor: pointer;}
.login form li.active img{float: right;margin-top: 15px;margin-right: 18px;}
.login form li:not(.active):hover{background:#E74F4D;color:white;cursor: pointer;}
.login form button{width: 125px;height: 42px;font-size: 24px;color: #fff;background: #7ecef4;border: none;border-radius: 3px;cursor: pointer;margin-top: 20px;}

.login .login_more{width: 290px;margin: 0 auto;margin-top: 20px;text-align: center;}
.login .login_more a{display: block;color: #13b5b1;;border:1px solid #13b5b1;padding: 8px 12px;float: left;font-size: 24px;margin-right: 38px;border-radius: 3px;}
.login .login_more .more_red{margin-right: 0;color: #eb6877;;border:1px solid #eb6877;}
/*login结束*/