﻿@charset "utf-8";
/****
guopc
后台管理系统
2015-10-10
****/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {margin: 0;padding: 0;}
ul,
ol,
dl {list-style-type: none}
html,
body {*position: static;font-family: "微软雅黑";color: #697393;}
html {font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%}
address,
caption,
cite,
code,
dfn,
em,
th,
var {font-style: normal;font-weight: 400}
input,
button,
textarea,
select,
optgroup,
option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit}
input,
button {overflow: visible;vertical-align: middle;outline: none}
body,
th,
td,
button,
input,
select,
textarea {font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "\5B8B\4F53";font-size: 14px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale}
body {line-height: 18px}
h1,
h2,
h3,
h4,
h5,
h6 {font-size: 100%}
a,
area {outline: none;blr: expression(this.onFocus=this.blur())}
a {text-decoration: none;color: #697393;cursor: pointer}
a:hover {text-decoration: none;outline: none}
a:focus {outline: none}
a:hover,
a:active {outline: none}
:focus {outline: none}
sub,
sup {vertical-align: baseline}
button,
input[type="button"],
input[type="submit"] {line-height: normal !important;}
img {border: 0;vertical-align: middle}
a img,
img {-ms-interpolation-mode: bicubic}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: "";clear: both;height: 0;}
.clearfix {zoom: 1;z-index:3;}
/*早日舍弃IE6*/
/*HTML5 新增reset*/
header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {display: block;margin: 0;padding: 0}
time {display: inline}
audio,
canvas,
video {display: inline-block;*display: inline;*zoom: 1}
audio:not([controls]) {display: none}
legend {width: 100%;margin-bottom: 20px;font-size: 21px;line-height: 40px;border: 0;border-bottom: 1px solid #e5e5e5}
legend small {font-size: 15px;color: #999}
svg:not(:root) {overflow: hidden}
fieldset {border-width: 0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield;/* 1 */}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
.w1200 {width: 1200px;margin: 20px auto;margin-bottom: 290px;}
select {/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/border: solid 1px #697393;/*很关键：将默认的select选择框样式清除*/appearance: none;-moz-appearance: none;-webkit-appearance: none;/*将背景改为红色*/background: #fff;/*加padding防止文字覆盖*/padding-right: 14px;}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {display: none;}
/*====font icon===*/
.font_lager {font-size: 20px;}
.f_left {float: left;}
.f_right {float: right;}
select + span {width: 14px;height: 8px;position: absolute;background: url('../images/down .png') no-repeat;right: 5px;top: 16px;}
input[type=text] + span.data {width: 18px;height: 18px;position: absolute;right: 5px;top: 11px;background: url('../images/time.png') no-repeat;}
/*top*/
html,
body {width: 100%;height: 100%;overflow: hidden;}
.header {width: 100%;height: 85px;background: #7ecef4;color: #fff;}
.header .logo {position: absolute;left: 40px;}
.header .logo img {height: 50px;margin-top: 20px}
.nav {height: 100%;font-size: 18px;text-align: center;position: relative;margin: auto;}
.nav >ul {position: absolute;top: 0;left: 0;}
.nav >ul >li {float: left;cursor: pointer;padding: 20px 0;width: 165px;position: relative;}
.nav >ul >li:hover {background-color: rgba(0, 183, 238, 0.4);}
.nav >ul >li:hover >ul {display: block;}
.nav >ul >li.curr {background-color:transparent;}
.nav >ul >li p {margin-top: 7px;}
.nav >ul >li >ul {width: 247px;position: absolute;top: 94px;right: -40px;background-color: #fff;box-shadow: 0 0 5px 5px #f4f4f4;border-radius: 2px;display: none; z-index:1;}
.nav >ul >li >ul:before {content: "";position: absolute;width: 10px;height: 10px;box-shadow: 0 0 5px 10px #f4f4f4;border: 1px solid red;transform: rotateZ(135deg);top: -5px;right: 40px;z-index: -1;}
.nav >ul >li >ul >span {border-width: 0 5px 10px 5px;border-color: transparent transparent #fff;border-style: solid;position: absolute;top: -9px;right: 40px;}
.nav >ul >li >ul >li {position: relative;border-bottom: 1px solid #bfbfbf;overflow: hidden;}
.nav >ul >li >ul >li:hover >a {color: rgba(0, 183, 238, 0.4);}
.nav >ul >li >ul >li >a >i {margin-right: 15px;}
.nav >ul >li >ul >li >a {display: block;padding: 20px 0 20px 64px;text-align: left;}
.nav >ul >li >ul >li:last-child {border: none;}
.nav >ul >li >ul >li.action a {color: #7ecef4;}
.nav >ul >li >ul >li.action::before {content: "";position: absolute;height: 100%;width: 2px;background: #7ecef4;top: 0;left: 0;}
.login_msg {padding-top: 18px;position: absolute;top: 0;right: 40px;}
.login_msg li {float: left;font-size: 18px;margin-right: 15px;text-align: right;line-height: 26px}
.login_msg li a {color: #fff;}
.nav_roll {width: 61px;height: 100px;line-height: 100px;text-align: center;background-color: #26a2e2;cursor: pointer;}
.nav_roll div {width: 30px;}
.nav_roll div:first-child {border-right: 1px solid #2491cc;}
/*right*/
.main_right {float: right;width: calc(100% - 40px);height: 100%;overflow: hidden;background-color: #fff;}
/* 下方内容展示 */
.contentofbottom {width: 100%;}
.menushow {font-size: 16px;color: #697393;margin-bottom: 26px;}
.menushow >a:last-child {color: #f97f20;}
/* 表格样式 */
.tableBox {width: 100%;margin: 33px auto;overflow: hidden;}
.tableBox table {width: 100%;text-align: center;border-left: 1px solid #697393;border-top: 1px solid #697393;}
.tableBox table td,
.tableBox table th {border-right: 1px solid #697393;border-bottom: 1px solid #697393;font-size: 16px;line-height: 32px;color: #697393;}
.tableBox table td >a {display: inline-block;color: #7ecef4;margin-left: 40px;}
.tableBox table td >a:first-child {margin: 0;}
/* 搜索框 */
.searchbox {width: 100%;text-align: center;margin-bottom: 15px;}
.searchMb {margin-bottom: 48px;}
.searchbox label {font-size: 16px;line-height: 35px;color: #697393;}
.searchbox ul {float: left;text-align: center;margin-left: 200px;}
.searchbox li {float: left;position: relative;}
.searchbox li >input[type=button] {width: 100px;height: 28px;color: #fff;border: none;border-radius: 2px;margin-right: 39px;margin-top: 5px;cursor: pointer;}
.searchbox li:nth-child(1) >input[type=button] {background: #13b5b1;}
.searchbox li:nth-child(2) >input[type=button] {background: #f19149;}
.searchbox li:nth-child(3) >input[type=button] {background: #00b7ee;}
.searchbox select,
.searchbox input[type=text] {width: 310px;height: 35px;border-radius: 2px;font-size: 16px;color: #697393;line-height: 35px;border: 1px solid #697393;margin-left: 15px;padding-left: 10px;}
.searchbox >input[type=button] {border: none;color: #fff;background-color: #7ecef4;font-size: 16px;line-height: 32px;width: 60px;text-align: center;cursor: pointer;border-radius: 2px;height: 32px;margin-left: 15px;}
/* 更多搜索框 */
.moreSerchBox {margin-bottom: 47px;}
.moreSerchBox li,
.moreSerchBox label {float: left;font-size: 16px;color: #697393;line-height: 32px;}
.moreSerchBox li {margin-right: 22px;position: relative;}
.moreSerchBox li input[type=text],
.moreSerchBox li select {width: 230px;height: 36px;margin-left: 8px;border: 1px solid #697393;border-radius: 2px;padding-left: 10px;}
.moreSerchBox input[type=button] {border: none;color: #fff;background-color: #7ecef4;font-size: 16px;line-height: 32px;width: 60px;text-align: center;cursor: pointer;border-radius: 2px;height: 32px;margin-left: 15px;}
/* 添加 */
.addBox {text-align: right;}
.addBox a {color: #7ecef4;text-decoration: underline;font-size: 16px;}
/* 更多添加框 */
.alladdBox a {color: #fff;background: #7ecef4;font-size: 16px;text-align: center;width: 100px;line-height: 32px;height: 32px;display: inline-block;margin-right: 39px;border-radius: 2px;}
.alladdBox a.daochu {margin-right: 5px;}
/* 添加信息统一样式 */
.editBox {color: #697393;}
.editBox div.left {max-width: 823px;overflow: hidden;}
.editBox p.title {font-size: 16px;color: #697393;margin-bottom: 24px;font-weight: 600;}
.editBox li {margin-bottom: 17px;}
.editBox li:after {content: "";display: block;height: 0;visibility: 0;clear: both;}
.editBox li label {float: left;font-size: 16px;margin-left: 67px;line-height: 36px;min-width: 80px;text-align: left;}
.editBox li p {position: relative;border: none;float: left;width: 322px;font-size: 16px;line-height: 32px;}
.editBox li p input[type=radio]:last-child {margin-left: 32px;}
.editBox li input[type=text] {width: 314px;height: 36px;}
.editBox li select {width: 100%;height: 38px;line-height:38px;}
.editBox li input[type=text],
.editBox li select,
.editBox li textarea {float: left;font-size: 16px;line-height: 36px;color: #000;border: 1px solid #697393;border-radius: 2px;padding-left: 6px;}
.editBox li textarea {width: 668px;height: 353px;resize: none;}
.editBox .but {width: 80px;height: 32px;line-height: 32px;color: #fff;border: none;background-color: #7ecef4;font-size: 16px;border-radius: 2px;cursor: pointer;margin-top: 25px;}
.editBox .sub {margin-left: 190px;}
.editBox .backPage {margin-left: 58px;background-color: #d2d2d2;}
.editBox li >div:last-child {float: left;width: 100%;padding-left: 148px;}
.submitClick,
.backClick {display: block;cursor: pointer;margin-left: 148px;width: 80px;height: 32px;line-height: 32px;font-size: 16px;background-color: #7ecef4;color: #fff;border: none;border-radius: 2px;}
.fuli {width: 668px;float: left;}
.fuli li {float: left;font-size: 16px;margin-right: 18px;}
.fuli li span {width: 14px;height: 14px;position: relative;display: inline-block;margin-right: 5px;}
.fuli li span i {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 1px solid #697393;}
.fuli li span input[type=checkbox] {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;opacity: 0;}
.fuli li span input[type=checkbox]:checked + i {background: #697393;}
/* 验证样式 */
.editBox li input.error,
.editBox li select.error {background: #f2dede;border-color: #db4c4a;}
input.valid,
textarea.valid,
select.valid {border-color: #7edc7f;background-color: #dff0d8;}
div.error {float: left;width: calc(100% - 115px);margin-top: 12px;color: #db4c4a;font-size: 14px;}
/* 就业管理新企业推送 */
.businessShow {width: 314px;height: 370px;overflow: hidden;box-shadow: 0 0 5px 5px #f4f4f4;text-align: center;font-size: 16px;color: #697393;border-radius: 2px;}
.businessShow p {background-color: #eee;height: 50px;line-height: 50px;font-weight: 600;}
.businessShow li {height: 40px;line-height: 41px;margin-bottom: 0;}
/* =====Hello===== */
.indexbox .title {font-size: 18px;line-height: 36px;padding: 20px 0;color: #697393;}
.count-content >div:first-child {margin-right: 80px;}
.left {float: left;}
.right {float: right;}
.count-content div[class*="broken"],
div[class*="pie"],
div[class*="column"] {box-shadow: 0 0 5px 5px #f2f2f2;border-radius: 5px;}
/* business */
.businessbox {color: #697393;font-size: 16px;}
.newMassige {border: 1px solid #dbcd94;background-color: #fcf7e3;border-radius: 2px;padding: 5px 34px;height: 64px;overflow: hidden;}
.newMassige ul li {line-height: 32px;width: 100%;}
.newMassige ul li a {color: #697393;display: block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.salarybox {margin-top: 20px;}
.salarybox h2 {text-align: center;position: relative;padding-top: 20px;padding-bottom: 25px;}
.salarybox h2 >a {position: absolute;color: #7ecef4;right: 0;top: 20px;text-decoration: underline;}
.newbusiness {margin-top: 70px;margin-bottom: 50px;}
.newbusiness >div >ul {border: 1px solid #d2d2d2;border-radius: 2px;overflow: hidden;}
.newbusiness >div >a {display: block;text-align: right;line-height: 32px;color: #7ecef4;text-decoration: underline;}
.newbusiness .box1 >ul {width: 422px;height: 244px;}
.newbusiness .box2 >ul {width: 546px;height: 346px;}
.newbusiness li {padding: 16px 0;text-align: center;}
.newbusiness li:nth-child(2n+1) {background-color: #eee;}
/* 新增学员 */
.seeStudentBox .editBox li label,
.editStudentBox .editBox li label,
.addStudentBox .editBox li label {width: 90px;}
/* 编辑班级 */
.inp {width: 102px;border: none;font-size: 16px;line-height: 32px;height: 32px;background: #7ecef4;color: #fff;cursor: pointer;border-radius: 2px;}
.addstudentofexl {margin-right: 20px;}
.sub1 {margin-left: 493px;}
/* 就业管理列表 */
.objTeachShow {box-shadow: 0 0 5px 5px #f4f4f4;margin-bottom: 36px;padding: 20px 36px;border-radius: 2px;}
.objTeachShow li {color: #697393;font-size: 16px;line-height: 32px;margin-bottom: 20px;}
.objTeachShow li:last-child {margin-bottom: 0;}
.objTeachShow li em {width: 16px;height: 16px;border-radius: 50%;margin-right: 12px;display: inline-block;}
.objTeachShow li span {margin-right: 28px;}
.objTeachShow li:nth-child(1) em {background-color: #c490bf;}
.objTeachShow li:nth-child(2) em {background-color: #89c997;}
.objTeachShow li:nth-child(3) em {background-color: #eb6877;}
.objTeachShow li:nth-child(4) em {background-color: #7ecef4;}
/* 新增面试 */
.addInterviwBox li > input[type=button] {width: 60px;border: none;font-size: 16px;line-height: 32px;height: 32px;background: #7ecef4;color: #fff;cursor: pointer;border-radius: 2px;margin-left: 15px;}
.StudentAllName {display: block;margin-top: 15px;padding-left: 148px;}
.StudentAllName a {margin-right: 8px;font-size: 16px;line-height: 32px;color: #697393;}
.StudentAllName a >i {margin-right: 5px;}
/* 编辑就业情况 */
.obg-interviewBox >div {width: 518px;border-radius: 2px;overflow: hidden;border: 1px solid #e5e5e5;font-size: 16px;margin-bottom: 12px;}
.obg-interviewBox >div >ul {margin-top: 18px;}
.obg-interviewBox >div >p {text-align: center;position: relative;color: #fff;height: 50px;font-size: 18px;line-height: 50px;}
.obg-interviewBox >div >p >span {position: absolute;color: #fff;top: 50%;right: 16px;margin-top: -25px;font-size: 16px;cursor: pointer;}
.obg-interviewBox >div.objedMassige >p {background-color: #84ccc9;}
.obg-interviewBox >div.objedMassige li {margin-bottom: 7px;}
.obg-interviewBox >div.objedMassige li >span {font-size: 16px;line-height: 32px;color: red;margin-left: 5px;}
.obg-interviewBox >div.objedMassige li label {width: 74px;padding-left: 70px;margin-left: 0;padding-right: 4px;}
.obg-interviewBox >div.objedMassige li:nth-child(1) label {background: url('../images/icon1.png') no-repeat 32px 5px;}
.obg-interviewBox >div.objedMassige li:nth-child(2) label {background: url('../images/icon1.png') no-repeat 32px -30px;}
.obg-interviewBox >div.objedMassige li:nth-child(3) label {background: url('../images/icon1.png') no-repeat 32px -64px;}
.obg-interviewBox >div.objedMassige li:nth-child(4) label {background: url('../images/icon1.png') no-repeat 32px -101px;}
.obg-interviewBox >div.objedMassige li:nth-child(5) label {background: url('../images/icon1.png') no-repeat 32px -134px;}
.obg-interviewBox >div.objedMassige li:nth-child(6) label {background: url('../images/icon1.png') no-repeat 32px -171px;}
.obg-interviewBox >div.objedMassige li:nth-child(7) label {background: url('../images/icon1.png') no-repeat 32px -205px;}
.obg-interviewBox >div.objedMassige li input[type=text] {width: 320px;height: 32px;}
.obg-interviewBox >div.interviewMassige >p {background-color: #89c997;}
/* 面试信息 */
.obg-interviewBox >div.interviewMassige {border: none;}
.obg-interviewBox >div.interviewMassige .contentofinterview li {width: 486px;border-radius: 2px;overflow: hidden;border: 1px solid #e5e5e5;font-size: 16px;margin-bottom: 12px;margin-top: 13px;padding: 0 15px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>h4 {line-height: 32px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p {min-height: 28px;font-size: 14px;line-height: 28px;}
.obg-interviewBox > div.interviewMassige .contentofinterview li > p:after{
    content:"";
    height:0;
    visibility:hidden;
    display:block;
    clear: both;
}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >span,
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >input[type=button] {width: 34px;border-radius: 2px;color: #f19149;border: 1px solid #f19149;text-align: center;font-size: 12px;background: #fff;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >span {line-height: 19px;display: inline-block;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p.textareabox-interview {width: 100%;height: 132px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >i {font-style: normal;float: left;width:80px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >label {margin: 0;position: relative;width: 160px;min-height: 24px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >label >select {font-size: 14px;line-height: 24px;height:24px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >label >span{top:9px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >label >input[type=text] {width: 100%;height: 24px;padding: 0;font-size: 14px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >label >input[type=text] +span.data{top:5px;}
.obg-interviewBox >div.interviewMassige .contentofinterview li>p >textarea {width: 348px;height: 122px;}
.exception {margin: 0 auto;}
.editobjBox .editBox li labe,
.seeobjBox .editBox li labe {min-width: 90px;}
.editobjBox .editBox div.left {max-width: 544px;}
/* 监督与回访 */
.moreSerchBox li input[type=text].begin_date{
    width:170px;
}
.Visit .moreSerchBox li{
    margin-right:10px;
}
.boxText{
    margin:0 auto;
    overflow:hidden;
}
.boxText textarea{
    width:1198px;
    height:190px;
    resize:none;
}
.boxText input{
    width:60px;
    height:32px;
    font-size:16px;
    color:#fff;
    background:#7ecef4;
    border: none;
    border-radius:2px;
    cursor:pointer;
    display:block;
    margin:37px auto;
}
.Visit .alladdBox >span{
    font-size:16px;
    color:#697393;
}
.Visit .tableBox table td >a{
    width:74px;
    height:24px;
    text-align:center;
    line-height:24px;
    border: 1px solid #7ecef4;
    margin-left:17px;
}
.Visit .tableBox table td >a:first-child{
    margin-left:0;
}
/* 管理首页 */
.indexbox h4.title{
    text-align:center;
    font-size:18px;
    color:#697393;
}
.indexbox .staff{
    text-align:center;
}
.indexbox .staff >a{
    display:inline-block;
    border-radius:2px;
    border:1px solid #697393;
    width:100px;
    height:36px;
    line-height:36px;
    text-align:center;
    margin-right:20px;
}
.indexbox .staff >a:last-child{
    margin-right:0;
}
.indexbox .staff >a.action{
    background-color:#00b7ee;
    color:#fff;
    border:none;
}
/*loading*/
.loading {overflow: hidden;text-align: center;}
.loading p {font-size: 16px;line-height: 22px;}
.spinner {margin: 100px auto 10px;width: 50px;height: 60px;text-align: center;font-size: 10px;}
.spinner > div {background-color: #7ecef4;height: 100%;width: 6px;display: inline-block;-webkit-animation: stretchdelay 1.2s infinite ease-in-out;animation: stretchdelay 1.2s infinite ease-in-out;}
.spinner .rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.spinner .rect3 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
.spinner .rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.spinner .rect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;}
@-webkit-keyframes stretchdelay {0%,40%,100% {-webkit-transform: scaleY(0.4)}20% {-webkit-transform: scaleY(1.0)}}
@keyframes stretchdelay {0%,40%,100% {transform: scaleY(0.4);-webkit-transform: scaleY(0.4);}20% {transform: scaleY(1.0);-webkit-transform: scaleY(1.0);}}
/**分页的东西**/
.pagination {display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px}
.pagination>li {display: inline}
.pagination>li>a,
.pagination>li>span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.428571429;text-decoration: none;background-color: #fff;border: 1px solid #ddd}
.pagination>li:first-child>a,
.pagination>li:first-child>span {margin-left: 0;border-bottom-left-radius: 4px;border-top-left-radius: 4px}
.pagination>li:last-child>a,
.pagination>li:last-child>span {border-top-right-radius: 4px;border-bottom-right-radius: 4px}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {background-color: #eee}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {z-index: 2;color: #fff;cursor: default;background-color: #428bca;border-color: #428bca}
.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {color: #999;cursor: not-allowed;background-color: #fff;border-color: #ddd}
.pagination-lg>li>a,
.pagination-lg>li>span {padding: 10px 16px;font-size: 18px}
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {border-bottom-left-radius: 6px;border-top-left-radius: 6px}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {border-top-right-radius: 6px;border-bottom-right-radius: 6px}
.pagination-sm>li>a,
.pagination-sm>li>span {padding: 5px 10px;font-size: 12px}
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {border-bottom-left-radius: 3px;border-top-left-radius: 3px}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {border-top-right-radius: 3px;border-bottom-right-radius: 3px}
.form-group {margin-bottom: 20px}
/**分页的东西**/
/*修改*/
.p_level2,
.p_level3,
.p_level4 {display: none;}
.table_null {text-align: center;margin: 50px 0;font-size: 16px;color: #ccc;}
.total input {width: 60px;display: inline-block;margin: 0 5px;}
.order_paybox li {padding: 0 5px;}
.order_paybox li:hover {background-color: #efefef;}
.order_paybox cite {margin-right: 8px;}
.order_paybox div.error {padding: 0;}
