/*弹出框*/
.tjbox{
	width: 337px;
	height: 188px;
	background: url(../img/tjbox.png);
	position: fixed;
	z-index: 10;
	left: 50%;
	top:50%;
	margin-left: -57px;
	margin-top: -94px;
	display: none;
}
.tjbox p{
	width: 100%;
	height: 98px;
	line-height: 115px;
	font-size:16px ;
	color: #464646;
	text-align: center;

}
.tjbox img{

	margin-left: 7PX;
	vertical-align: middle;
	margin-top: 12px;
}
.tjbox .ul{
	width: 100%;
	height: 55px;
}
.tjbox ul li{
	float: left;
	width: 158px;
	height: 55px;
	line-height: 55px;
	cursor: pointer;
	text-align: center;
}
.tjbox ul li:hover a{
	color: #eb6877;
	display:block;
}
.tjbox ul li a{
	color: #595959;
	font-size: 16px;
}
.tjbox ul li a:hover{
	color: #eb6877;
	
}
.tjbox ul  .validate{
	border-right: 1px solid #dcdcdc;
}	