body{
	margin: 0 auto;
	font-family: "微软雅黑";
	overflow: hidden;
	background: #f3f1ee;
}
.wrap{
	width: 100%;
}
.menu{
	width: 17%;
	min-width: 210px;
	height:100%; 
	border-right: 10px solid #eeecea;
	position: relative;
	z-index: 99;
}
.menu img{
	width: 100%;
	height: 100%;
	
}
.menu p {
	width: 100%;
	height: 23px;
	line-height: 23px;
	position: absolute;
	left: 0px;
    top: 75px;
    text-align: center;
}
.menu p a{
	color: white;
	font-size: 23px;
}
.menu dl {
	width: 100%;
	height: 474px;
	position: absolute;
	top:50%;
	left: 0px;
	margin-top:-237px ;
    z-index: 100;
}
.menu dl dd,dt{
	width: 100%;
	height:62px;
	line-height: 62px;
	text-align: center;
}
.wrap .menu dl .basic{
	width: 100%;
	height: 62px;
	background-color: #f3f1ee;
}
.wrap .menu dl .basic a{
	color: #fb5b3c;
}

.menu dl dd a{
	display: inline-block;
	width: 100%;
	height: 62PX;
	font-size: 18px;
	color: #FFFFFF;
}

.wrap .exit{
	position: absolute;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
    bottom: -20px;
}
.wrap .exit a{
	color: #fff;
	font-size:18px ;
	display: block;
	background: url(../img/sxit_bt.png) no-repeat 70px;
}

