body{
    overflow: hidden;
}
/*body背景*/
.index_bg{
    width: 100%;
    min-width: 1400px;
    height: 100%;
}
.index_bg img{
    width: 100%;
}
/*body背景结束*/

/*logo*/
.logo{
    position: absolute;
    width: 1200px;
    top: 35%;
    left: 50%;
    margin-left: -600px;
    text-align: center;

}
/*logo结束*/

/*搜索框*/
.index_input{
    width: 1200px;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -600px;
    margin-top: -40px;
    z-index: 99;
}
.index_input form .input_list{
    padding: 24px 0;
    float:  left;
}
.index_input ul{
    width:135px;
    height: 60px;
    margin-left: 15px;
    background: #fff;
    font-size: 24px;
    border-radius: 5px;
}
.index_input ul:hover{
    border-radius: 5px 5px 0 0;
}
.index_input form ul li{
    color:#464646;
    background:#fff;
    display:none;
    line-height: 60px;
    text-align: center;
}
.index_input form ul li.active{
    display:block;
    background:url(../img/web_index2.png) no-repeat  110px center;
    border-radius: 5px 5px 0 0 ;
    text-indent: -20px;
    cursor: pointer;
}
.index_input form ul li:not(.active):hover{
    background:#E74F4D;
    color:white;
    cursor: pointer;
}
.index_input form input{
    float: left;
    width: 854px;
    height: 60px;
    margin-top: 24px;
    margin-left: 23px;
    border-radius: 3px;
    border:none;
    font-size: 16px;
}
.index_input form button{
    float: left;
    width: 110px;
    height: 63px;
    margin-top: 24px;
    margin-left: 16px;
    border: none;
    font-size: 24px;
    color: #fff;
    background: #eb6877;
    border-radius: 3px;
    cursor: pointer;
}
/*搜索框结束*/

/*关键词*/
.index_word{
    position: absolute;
    width: 1200px;
    top: 70%;
    left: 50%;
    height: 30px;
    margin-top:-15px;
    margin-left: -600px;
    text-align: center;
}
.index_word h2{
    float: left;
}

.index_word a{
    font-size: 20px;
    margin-right: 32px;
}
.index_word .word_none{
    margin: 0;
    font-size: 20px;
}
/*关键词结束*/